.word.checked {
    color: #333;
    opacity: 0.7;
    background-color: #0000008d;
}

.btn_controls {
    font-size: 15px;
    padding: 7px 10px;
}
.btn_hide {
    background-color: rgb(29, 113, 223);
    margin-right: 5px;
}

.btn_delete {
    background-color: rgba(252, 52, 52, 0.738);
}

.hide {
    color: #242424;
}

.disabled {
    cursor: default;
}
