body {
    margin: 0;
    padding: 0;
}

#root {
    text-align: center;
}

#header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    padding: 0 30px;
    height: 100px;
    align-items: center;

    transition: height 0.25s ease;
}

#header.shrunk {
    height: 60px;
}

#btn-nav {
    margin-left: 10px;
}
